[submodule "submodules/novolis-analyzers"]
	path = submodules/novolis-analyzers
	url = https://github.com/Novolis-Platform/novolis-analyzers.git

[submodule "submodules/novolis-aspire"]
	path = submodules/novolis-aspire
	url = https://github.com/Novolis-Platform/novolis-aspire.git

[submodule "submodules/novolis-avalonia"]
	path = submodules/novolis-avalonia
	url = https://github.com/Novolis-Platform/novolis-avalonia.git

[submodule "submodules/novolis-codegen"]
	path = submodules/novolis-codegen
	url = https://github.com/Novolis-Platform/novolis-codegen.git

[submodule "submodules/novolis-machinelearning"]
	path = submodules/novolis-machinelearning
	url = https://github.com/Novolis-Platform/novolis-machinelearning.git

[submodule "submodules/novolis-math"]
	path = submodules/novolis-math
	url = https://github.com/Novolis-Platform/novolis-math.git

[submodule "submodules/novolis-messaging"]
	path = submodules/novolis-messaging
	url = https://github.com/Novolis-Platform/novolis-messaging.git

[submodule "submodules/novolis-physics"]
	path = submodules/novolis-physics
	url = https://github.com/Novolis-Platform/novolis-physics.git

[submodule "submodules/novolis-raylib"]
	path = submodules/novolis-raylib
	url = https://github.com/Novolis-Platform/novolis-raylib.git

[submodule "submodules/novolis-security"]
	path = submodules/novolis-security
	url = https://github.com/Novolis-Platform/novolis-security.git

[submodule "submodules/novolis-storage"]
	path = submodules/novolis-storage
	url = https://github.com/Novolis-Platform/novolis-storage.git

[submodule "submodules/novolis-testing"]
	path = submodules/novolis-testing
	url = https://github.com/Novolis-Platform/novolis-testing.git

[submodule "submodules/novolis-transports"]
	path = submodules/novolis-transports
	url = https://github.com/Novolis-Platform/novolis-transports.git

[submodule "submodules/novolis-wirefish"]
	path = submodules/novolis-wirefish
	url = https://github.com/Novolis-Platform/novolis-wirefish.git
